@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: degods;
    src: url('../../public/fonts/degods.ttf') format('truetype');
}

@font-face {
  font-family: belygod;
  src: url('../../public/fonts/belygod.ttf') format('truetype');
}

@font-face {
  font-family: justbreathe;
  src: url('../../public/fonts/JustBreathe.otf') format('opentype');
}
* {
  font-family: 'degods', monospace;
  padding: 0;
  margin: 0;
}

h2{
  font-family: 'belygod', sans-serif;
}

:root {
  --size: 1;
  --degods-white: #ffefeb;
  --degods-black: #0F0F0F;
  --degods-orange: #ff8a00;
  --degods-yellow: #fff200;
  --degods-blue: #a1b5ff;
  --degods-purple: #6100ff;
  --degods-red: #ff3d00;
  --degods-off-white: #7772;
  --degods-text-white: #FFFFFF;
}

.wallet-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.wallet-adapter-button {
  font-family: 'degods', monospace !important;
  height: 45px !important;
  padding: 0px 15px !important;
}

.wallet-adapter-button-trigger {
  background-color: transparent !important;
  border: 1px solid black !important;
  color: black !important;
  font-weight: normal !important;
}

body {
  background: var(--degods-black);
  color: var(--degods-text-white);
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}